<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Student Card -->
            <div class="card mb-3 card1" onclick="redirectToStudentsPage()">
                <div class="card-body card-body1">
                    <h1 class="card-title">Students</h1>
                    <p class="card-text">View information about students</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <!-- Company Card -->
            <div class="card mb-3 card1" onclick="redirectToCompaniesPage()">
                <div class="card-body card-body1">
                    <h1 class="card-title">Company</h1>
                    <p class="card-text">View information about companies</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Redirect to students page
    function redirectToStudentsPage() {
        window.location.href = "/studentlist";
    }

    // Redirect to companies page
    function redirectToCompaniesPage() {
        window.location.href = "/companylist";
    }
</script>